
/* Header */
.header{
  padding:6px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  color: white;

}


.header .fInnerText .fInnerItem{
  display: flex;
  list-style: none;
  gap: 50px;
  margin-right: 20px;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 600;
}
.h-2{
font-size: 1.5rem;
position: relative;

} 
.h-3 {position: relative;
    z-index: 99;
    bottom: 11px;
    left: 14px;
    font-weight: 700;
    font-size: 1.8rem;
}
.h-2::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    left: 1px;
    bottom: 50px;
    background-color: aqua;
}
@media (max-width:663.9px){
  .header .fInnerText .fInnerItem{
  margin-right:8px;
  font-size: 1rem;
}
}

/* Footer*/
.footer{
  background-color: black;
  color:rgb(218, 217, 217);
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 20px;
}
.footer .l-1,.l-2,.l-3,.l-4{
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  gap: 5px;
}
.footer .l-1 li,.l-2 li,.l-3 li,.l-4 li{
padding: 5px;
}
.f-4 .l-4 .img-1,.img-2,.img-3,.img-4{
  height: 20px;
  width: 20px;  
}
.f-4 .l-4 {
  display: flex;
}
.f-4 h3{
  text-align: center;
}
.footer-main .copy-right{
  border-top: 1px solid rgb(218, 217, 217);;
  padding-top: 20px;
}
.footer-main .copy-right p{
  color:rgb(218, 217, 217);
  text-align: center;
  padding: 8px;

}
.footer-main{
  background-color: black;
}
.payment .l-4{
   display: flex;
   justify-content: end;
   gap: 40px;
   margin-right: 10px;
}
.payment .l-4 .img-1,.img-2,.img-3{
  height: 50px;
  width: 50px;
}
/*Hotel Card*/
.accomodation-h1{
  text-align: center;
  font-size: 2rem;
  color: #0199c9;
  margin: 30px;
}
.f-accomodation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin: 12px;
}
.f-accomodation .ItemfinnerGallery{
  padding: 20px;
  background-color: #fff;
  height: auto;
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}

.f-accomodation .ItemfinnerGallery img {
    aspect-ratio: 4 / 3;
    width: 100%;
}
.f-accomodation .fGalleryText .f-accomodation-text{
  display: flex;
  justify-content: space-between;
}
.f-accomodation .fButton {
    padding: 3px 4px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    border: none;
    width: 50px;
    border-radius: 5px;
    position: absolute;
    right: 32px;
    top: 27px;
    text-align: center;
    font-style: italic;
    font-size: 13px;
}
.f-accomodation .f-accomodation-text-2{
  display: flex;
  gap: 5px;
  align-items: center;
}
.fButton {
    padding: 5px 10px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    border: none;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    font-style: italic;
}
.f-accomodation-button{
  text-align: center;
  margin: 30px;
}
.f-accomodation-button a{
  text-decoration: none;
}

.f-accomodation .booking {
    text-decoration: none;
    position: absolute;
    right: -12px;
    bottom: 53px;
}
.f-accomodation .booking a{
  text-decoration: none;
}
/* Header-Image */
.Header-background-image{
  height: 500px;
  width: 100%;
  background-position: center;
  background-size: cover;

}
/* Search Details */
.fGalleryItem-1{
  border: 1px solid #e6dfdf;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  z-index: 99;
  width: 60%;
  top: 32%;
  background-color: white;
}
.fGalleryItem-1 h3 {
    font-size: 3rem;
   color: #0199c9;
    font-weight: 500;
    text-align: center;
    margin: 20px;
}
.fGalleryItem-1 p{
  font-size: 1.2rem;
  text-align: center;
  color: black;
}
.fGalleryItem-1 .searchdetails{
  display: flex;
  flex-wrap: wrap;
}
.fGalleryItem-1 .search-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid rgb(234, 232, 232);
    border-radius: 30px;
}
.fGalleryItem-1 .icon-details{
      margin-top: 21px;
    margin-right: 10px;
}
.searchdetails .text p{
  font-size: 0.7rem;
}
.searchdetails .text h3{
  font-size: 1rem;
}
.fGalleryItem-main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
@media (max-width:991.9px) {
  .fGalleryItem-1 h4 {
    font-size: 2rem;
}
.fGalleryItem-1 p{
  font-size: 0.9rem;
  text-align: center;
  color: black;
}
}
@media (max-width:575px) {
  .fGalleryItem-1 {
    width: 100%;
  }
    .fGalleryItem-1 {
        position: absolute;
        top: 32%;
        width: 71%;
    }
}
@media (max-width:575px) {
  .fGalleryItem-1 {
    width: 100%;
  }
    .fGalleryItem-1 {
        position: absolute;
        top: 32%;
        width: 71%;
    }
    .fGalleryItem-1 .searchdetails .text h3{
    font-size: .7rem;
}
}

@media (max-width:320px) {
  .fGalleryItem-1 {
        position: absolute;
        top: 32%;
        width: 71%;
    }
}
/*New  Why Choose Us */
.why-choose-us{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 12px;
  margin: 10px;
}
.why-choose-us-h-1{
  text-align: center;
    font-size: 2rem;
    color: #0199c9;
    margin: 30px;
}
.why-choose-us .fGalleryItem{
  padding: 12px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  text-align: center;
  align-content: center;
}
.why-choose-us .fGalleryItem .fGalleryImage {
  padding:6px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.why-choose-us .fGalleryItem .fGalleryImage img{
  height: auto;
  width: 60px;
  display: block;
  margin: 0 auto;
}
.why-choose-us .fGalleryText{
  text-align: center;
}
.why-choose-us .fGalleryText p{
  font-size: 0.8rem;
}
/* View More */
.view-more{
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
.view-more .view-button{
  padding: 10px 1rem;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  border: 1px solid white;
  border-radius: 6px;
}
.view-more .view-button a{
  color: white;
  text-decoration: none;
}

/* Explore Maldivies */
.Explore-Maldavies{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  background-image: url("./assests/ExploreMaldivies/Banner.png");
  color: white;
  height: 400px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.Explore-Maldavies .fGalleryInner-1{
  grid-column: span 2;
}
.Explore-Maldavies .fGalleryInner-main{
  grid-column: span 4;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  margin: 0 auto;
  
}

.explore-h1{
    text-align: center;
    font-size: 2rem;
    color: #0199c9;
    margin: 50px;
}
.Explore-Maldavies .fGalleryInner-main .fGalleryInner-2 .fGalleryItem .fGalleryImg{
  border-radius: 6px;
  width: 200px;
}
.Explore-Maldavies .fGalleryInner-main .fGalleryInner-2 .fGalleryItem .fGalleryImg img {
    aspect-ratio: 1 / 2;
    width: 100%;
    height: 259px;
    border-radius: 16px;
}
.fGalleryInner-main{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.Explore-Maldavies .fGalleryInner-1{
  margin-left: 20px;
}
.Explore-Maldavies .fGalleryInner-1 .fButton{
  text-decoration: none;
  padding: 6px 2rem;
  text-align: center;
}
.Explore-Maldavies .fGalleryInner-1 p{
  width: 86%;
}
.Explore-Maldavies .fGalleryInner-1 h1{
  font-size: 3rem;
  font-weight: 700;
}
/* Offer */
.offer{
  display: flex;
}
.offer .fGalleryImage{
  width: 40%;
}
.offer .fGalleryText{
 text-align: center;
 width: 60%;
}
.offer .fGalleryText h3{
  font-size: 2rem;
}
.offer .fGalleryText input{
  padding: 12px;
  width: 50%;
  border-radius: 6px;
  border: 1px solid #00c6ff;
}
.offer .fGalleryText a{
  margin-left: 10px;
}
.offer .fGalleryText h3 span{
  display: block;
}

.offer .fGalleryImage{
border-radius: 10px;

}
.offer .fGalleryText{
align-content: center;
background-color: rgb(219, 219, 219);
}
.offer .fGalleryImage img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
/* Features */
.feature{
  display: grid;
  grid-template-columns: repeat(3,350px);
 gap: 30px;
 justify-content: center;
 align-items: center;
 margin: 10px;
 
}
.feature  .fGalleryText-inner{
  display: flex;
  gap: 5px;
}
.feature .fGalleryInnerItem{
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 padding: 20px;
 border-radius: 6px;
 height: auto;
 position: relative;
 height: 480px;
}
.feature-h1{
  text-align: center;
    font-size: 2rem;
    color: #0199c9;
    margin: 30px;
}
.feature .fGalleryText p{
font-size: 0.9rem;
color: rgb(87, 87, 87);
}
.feature .fGalleryImage img{
 width: 100%;
  object-fit: cover;
  height: 200px;
}
/*Testinomial */
.testinomial{
  display: grid;
  grid-template-columns: repeat(3,1fr);
 gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.testinomial .fGalleryText-Inner{
  display: flex;
  justify-content: space-between;
}
.testinomail-h1{
  text-align: center;
    font-size: 2rem;
    color: #0199c9;
    margin: 30px;
}
.testinomial .fGalleryItem {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    padding: 20px;
    border-radius: 6px;
    margin: 12px;
    background: white;
    color: black;
    height: 200px;
}
.testinomial .fGalleryImage {
  padding: 2px;
  background-color: white;
}
.testinomial .fGalleryImage img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    top: -24px;
    object-fit: cover;
    background-color: white;
    border: 1px solid rgb(225, 225, 225);
}
/*.Explore-Maldavies .fGalleryInner-1{
  width: 50%;
}
.Explore-Maldavies .fGalleryInner-2{
  width: 16%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Explore-Maldavies .fGalleryInner-main .fGalleryInner-2 .fGalleryItem .fGalleryImg h3{
   color: #0199c9;
  text-align: center;
  font-weight: 700;
}
.Explore-Maldavies .fGalleryInner-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.Explore-Maldavies .fGalleryInner-1 p{
  width: 80%;
  font-size: 1rem;
  font-weight: 500;
}
.Explore-Maldavies .fGalleryInner-1 .fButton{
  padding: 12px 60px;
  text-decoration: none;
}
.Explore-Maldavies .fGalleryInner-1{
  width: 50%;
}
.Explore-Maldavies .fGalleryInner-main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}*/
/*Container */

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
        margin: auto;
    }
}
@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
        margin: auto;
    }
}
@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
        margin: auto;
    }
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
        margin: auto;
    }
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
        margin: auto;
    }
  }
/* Card-Responsive */
@media (max-width:1156.9px) {
  .f-accomodation {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .why-choose-us{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
 .Explore-Maldavies{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  }
  .Explore-Maldavies .fGalleryInner-main{
    display: grid;
     grid-template-columns: repeat(4,1fr);
  }
  .Explore-Maldavies .fGalleryInner-2{
    display: block;
    margin: 0 auto;
  }
  .testinomial .fGalleryItem{
    height: unset;
  }
}
@media (max-width:845.9px) {
  .f-accomodation {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .feature{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
  .Explore-Maldavies{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  }
  .Explore-Maldavies .fGalleryInner-1 h1{
    font-size: 2.2rem;
  }
  .Explore-Maldavies .fGalleryInner-main{
    display: grid;
     grid-template-columns: repeat(6,1fr);
  }
  .testinomial{
    display: grid;
    grid-template-columns: repeat(6,1fr);
  }
  .fGalleryInner-main{
  display: grid;
  grid-template-columns: repeat(6,1fr);
}
.Explore-Maldavies .fGalleryInner-2{
    display: block;
    margin: 0 auto;
  }
.why-choose-us{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
}
@media (max-width:575px) {
  .f-accomodation {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .feature .fGalleryInnerItem{
 height: auto;
}
.offer .fGalleryText h3 {
    font-size: 1rem;
}
  .feature{
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
    .Explore-Maldavies .fGalleryInner-1 h1{
    font-size: 2rem;
    text-align: center;
  }
  .Explore-Maldavies{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  }
  .fGalleryInner-main{
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.Explore-Maldavies .fGalleryInner-2{
    display: block;
    margin: 0 auto;
  }   
.Explore-Maldavies .fGalleryInner-main{
    display: grid;
     grid-template-columns: repeat(1,1fr);
  }
 .why-choose-us{
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.testinomial{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}
.testinomail-main{
  background-image: url("./assests//Testinomial/Testinomial.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  padding: 20px;
}
.testinomial::after{ 
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.6);
  z-index: 1;
}
.testinomial *{
  position: relative;
  z-index: 9999;
}
/* Explore Maldivies New */
.explore-new-maldivies{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 10px;
  background-image: url("./assests/ExploreMaldivies/Banner.png");
  background-size: cover;
  background-position: center;
  padding: 30px;
}
.explore-new-maldivies{
  position: relative;
}
.explore-new-maldivies::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}
.explore-new-maldivies *{
 position: relative;
  z-index: 999;
}
.explore-new-maldivies .explore-h1{
  grid-column: 1/-1;
  font-size: 5rem;
  font-weight: 700;
  color: white;
}
.explore-new-maldivies .explore-h1{
  border-bottom: 1px solid white;
  padding: 20px;
}
.explore-new-maldivies .fGalleryItem{
  grid-column: 1/4;
    color: white;
  font-size: 1rem;
}
.explore-new-maldivies .fGalleryItem p{
  font-size: 1.3rem;
  align-content: center;

}
.explore-new-maldivies .fGalleryImage{
grid-column: 4/7;
 display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  text-align: center;

}
.explore-new-maldivies .fGalleryInner img{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 12px;
}
.explore-new-maldivies .fGalleryInner h3{
  color: white;
}
/*responsive Explore Maldivies */
@media (max-width:991.9px) {
  .Explore-Maldavies{
  height: auto;
}
.Explore-Maldavies .fGalleryInner-1 {
  width: 100%;
}

.Explore-Maldavies .fGalleryInner-main{
  width: 100%;
}
}
